body, container-fluid { 
      background-image: linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px);
      background-size: 25% 100%;
      background-color: black;
      color: #ffffff !important;
      font-family: "JetBrains Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 800;
      margin-left: 5%;
    }

    a:link { color: #ffffff !important; }
    a:visited { color: #ffffff !important;}
    a:active { color: #ffffff !important;}
    a:hover { color: #ffffff !important;}
    

    .navbar-toggler-icon {
       background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }

    .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
    opacity: 1;
    }

    .liststyle {
        list-style-type: none;
        padding: 0%;
    }

    .blink {
  animation: blink-animation 1s steps(2, start) infinite;
    }

    @keyframes blink-animation {
       to {
             visibility: hidden;
          }
    }

    .hero-title { font-size: 20px; font-weight: 800; }
    .hero-sub { font-size: 20px; }
    .para-s { font-size: 15px; }

  /* Desktop Viewport (992px and up) */
  @media (min-width: 992px) {
    .hero-title { font-size: 32px; }
    .hero-sub { font-size: 32px; }
    .para-s { font-size: 20px; }
  }

   /* The Background Layer */
  .bg-lines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: 25% 100%;
  }

  @media (min-width: 992px) {
    .bg-lines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
    background-size: 12% 100%;
  }
  }

  .responsive-fs {
    font-size: 20px; 
  }

  @media (min-width: 992px) {
    .responsive-fs {
      font-size: 16px;
    }}